App client/.vs/
App client/App1/App1.Android/bin/
App client/App1/App1.Android/obj/
App client/App1/App1/bin/
App client/App1/App1/obj/
Win server/.vs/
Win server/ConsoleApp6/bin/
Win server/ConsoleApp6/obj/
Win server/packages/
